:host {
   display: grid;
   grid-template:
      "map    sidebar" 1fr
      "status status"
      / 1fr 200px
   ;
}

svg {
   display:      block;
   grid-area:    map;
   align-self:   center;
   justify-self: center;
   max-width:    100%;
   max-height:   100%;
   
   /* invert the Y-axis. */
   transform: scale(1, -1);
   
   --cell-size: 4096;
   
   .gridlines {
      vector-effect: non-scaling-stroke;
      fill:          none;
      stroke:        transparent;
      stroke-width:  1px;
      
      svg.show-grid & {
         stroke: #A0A0A0;
      }
   }
   
   #cells {
      rect {
         width:  calc(1px * var(--cell-size));
         height: calc(1px * var(--cell-size));
         transform: translate(
            calc(1px * var(--cell-size) * var(--x)),
            calc(1px * var(--cell-size) * var(--y))
         );
         fill: rgba(0, 255, 255, 0.2);
      }
   }
   #refs {
      .ref {
         stroke:        red;
         stroke-width:  1px;
         fill:          rgba(255, 0, 0, 0.2);
         
         transform:
            translate(
               calc(1px * var(--x)),
               calc(1px * var(--y))
            )
            rotate(calc(-1deg * var(--yaw,0)))
         ;
         
         .obnd {
            vector-effect: non-scaling-stroke;
            x:      calc(1px * var(--obnd-x-min));
            y:      calc(1px * var(--obnd-y-min));
            width:  calc((var(--obnd-x-max) - var(--obnd-x-min)) * 1px);
            height: calc((var(--obnd-y-max) - var(--obnd-y-min)) * 1px);
         }
      }
   }
   #groups {
      :is(rect, circle) {
         vector-effect: non-scaling-stroke;
         stroke:        #808000;
         stroke-width:  1px;
         fill:          rgba(255, 255, 0, 0.5);
      }
      rect {
         x:      calc(1px * var(--x-min));
         y:      calc(1px * var(--y-min));
         width:  calc((var(--x-max) - var(--x-min)) * 1px);
         height: calc((var(--y-max) - var(--y-min)) * 1px);
      }
   }
}

.sidebar {
   grid-area:   sidebar;
   border-left: 1px solid #000;
   padding:     1em;
   
   &>header {
      font-weight: bold;
   }
   
   section {
      border: 1px solid #808080;
      margin: 1em 0;
      
      &.rows {
         &>* {
            padding:    .25em .5em;
            border-top: 1px solid #C0C0C0;
            &:first-child {
               border-top: none;
            }
         }
      }
      
      &>header {
         padding:     .25em .5em;
         font-weight: bold;
         background:  #A0A0A0;
      }
      &>.body {
         list-style: none;
         margin:     0;
         padding:    .25em .5em;
         &:is(ol, ul) {
            padding: 0;
            &>li {
               padding: .25em .5em;
               margin:  0;
            }
         }
      }
   }
}

.status-bar {
   grid-area: status;
   border-top: 1px solid #000;
   padding:    .25em;
   
   display:   flex;
   flex-flow: row nowrap;
   justify-content: start;
   gap: .5em;
   
   &>div {
      padding: .25em;
      border:  1px solid #909090;
   }
}